<h1>
  Tradutor de Damionês
</h1>

<div class="wrapper">
  <form class="form-horizontal">
    <div class="form-group col-xs-5">
      <label class="control-label" for="pt">Português: </label>
      <textarea class="form-control" name="pt" id="pt" rows="8"></textarea>
    </div>

    <div class="form-group col-xs-2 button-column">
      <button class="btn btn-primary" id="translate">Traduzir >></button>
    </div>

    <div class="form-group col-xs-5">
      <label class="control-label" for="da">Damionês: </label>
      <textarea class="form-control" name="da" id="da" rows="8"></textarea>
    </div>
  </form>
</div>