body {
  margin: 20px;
}

footer {
  clear:both;
  position:absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding-top: 5px;
  width: 100%;
  border-top: 1px solid #CCC;

  .version {

    float: left;
  }

  .by {
    float: right;
  }
}

.button-column {
  text-align: center;
  margin-top: 100px;
}